body {
  white-space: nowrap;
  background-color: #131313;
  font-family: "Tahoma" , Arial, Helvetica, sans-serif;
}

.title {
  height: 30px;
  padding-left: 10px;
  letter-spacing: -1px;
  color: #ebebeb;
  line-height: 30px;
  background: linear-gradient(#660b21, #54091b);
  font-size: 17px;
  margin-bottom: 10px;
  text-align: center;
}

button {
  background: linear-gradient(#ebebeb, #8e8e8e);
  color: #1c1c1c;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  height: 25px;
}

img {
  width: 50px;
  height: 65px;
}

.wrapper {
  display: grid;
  grid-template-columns: 50px 150px 20px 30px;
  padding-bottom: 10px;
}

span {
  padding-top: 25px;
  padding-left: 10px;
}

a {
  padding-top: 25px;
  padding-left: 10px;
  color: #ebebeb;
  overflow: hidden;
}

.fa-trash {
  font-size: 14px !important;
  cursor: pointer;
}

.container {
  color: #ebebeb;
}

.text-center {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 10px;
}

.red {
  color: white;
  background-color: red;
  text-align: center;
  padding-left: 0px;
}

.transparent {
  color: transparent;
  background-color: transparent;
}